$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

// ------ VARIABLES & MIXINS ------

$black : #363636;
$gray : #919191;
$light-gray : #E6E6E6;
$lime : #B1D45E;
$aqua : #68E3D7;
$red : #DE624E;

@mixin sexy-emboss($opacity:0.8, $opacity2:0.05) {
    box-shadow: 0 1px 0 rgba(255, 255, 255, $opacity),
                inset 0 1px 0 rgba(0, 0, 0, $opacity2);
}

@mixin sexy-font-shadow($opacity:0.15){
    text-shadow: 0 1px 0 rgba(0, 0, 0, $opacity);
}

// ------ ------

body {
    background-color: $light-gray;
    font-family: 'Playfair Display', serif;
}

a {
    color: $lime;

    &:hover {
        color: $aqua;
        text-decoration: none;
    }
}

header {
    width: 100%;
    background-color: $black;
    margin-top: 0;

    h1, h3 {
        font-family: 'Cinzel', serif;
        margin: .7em 0 .25em 0;
        color: $light-gray;
        display: inline-block;
    }

    h1 {
        font-size: 2.8em;
    }

    h3 {
        font-family: 'Playfair Display', serif;
        color: $lime;
    }
}

footer {
    width: 100%;
    min-height: 150px;
    background-color: $black;

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: $light-gray;
        margin-bottom: 14px;
    }

    .footer-contents {
        margin-top: 20px;
    }

    .about {
        font-size: 10px;
    }
}

.player-score {
    font-size: 20px;
    margin-bottom: 20px;

    span {
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
    }
}

#main {
    margin: 100px 0;

    .container {
        min-height: 520px;
        text-align: center;
    }

    //ghost element to vertically center
    .container:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    h2 {
        font-family: 'Playfair Display', serif;
        font-size: 3em;
        margin-bottom: 25px;
    }

    .etsyItems {
        margin-bottom: 20px;
    }

    .item-container {
        display: inline-block;
        background-color: $black;
        border: 4px solid $black;
        color: white;
        vertical-align: middle;
    }

    .item-name {
        font-size: 16px;
    }

    .item-image {
        width: 330px;

        &:hover {
            opacity: .55;
        }

        &:hover {
            opacity: .9;
        }
    }

    .item-price {
        font-family: 'Cinzel', serif;
        font-size: 20px;
        color: $lime;
        margin-top: 12px;
        margin-bottom: 14px;
    }

    .item-url {
        font-family: 'Open Sans', sans-serif;
        color: $light-gray;
        font-size: 16px;
        z-index: 100;
        margin-bottom: 10px;

        &:hover {
            color: $aqua;
        }
    }

    .c-left {
        margin-right: 20px;
    }
}

#answer {
    min-height: 60px;
}

.incorrect,.correct {
    font-family: 'Open Sans', sans-serif;
    margin-top: 16px;
    font-size: 26px;
}

.incorrect {
    color: $red;
}

#show-next-pair {
    min-height: 120px;
}

.show-next-pair-btn-container {
    background-color: $lime;
    border: 6px solid $black;
    color: $black;
    width: 30%;
    text-align: center;
    vertical-align: middle;
    padding: 12px 6px;

    span {
        font-family: 'Open Sans', sans-serif;
        font-size: 26px;
        text-align: center;
        vertical-align: middle;
    }

    &:hover {
        background-color: $black;
        border: 6px solid $lime;
        color: $lime;
    }
}


//------ MEDIA QUERIES ------

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
